/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

/* initial page reset & global settings */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* footer control using css-grid */
html {
  width: 100%;
  height: 100%;
}

body {
    background-color: #000;
    font-family: 'VT323', monospace;
    text-align: center;
    width: 100%;
    height: 100%;
}

#container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

#main-header {
  margin-top: 1rem;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #fff;
}

#subheader {
  margin: 0.5rem 0 0.5rem;
  font-size: 2rem;
  color: #fff;
}

/* body a {
    text-decoration: none;
} */

/* page background video - modified code from https://w3collective.com/fullscreen-video-background/ */

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

/* main page styling */

#start-screen {
  border: 3px solid greenyellow;
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: #191970;
}

#user-input input {
  display: block;
  margin: 0.5rem auto 0;
  width: 33%;
  min-width: 300px;
  height: 2rem;
  font-size: 1.25rem;
  text-align: center;
  padding: auto;
  color: #191970;
}

.button {
  border: 3px solid greenyellow;
  border-radius: 5px;
  color: #191970;
  width: 33%;
  height: 2.5rem;
  padding: auto;
  text-decoration: none;
  display: block;
  margin: 0.5rem auto;
  font-size: 1.75rem;
  font-family: 'VT323', monospace;
}

#start-button:hover {
  background-color: #191970;
  color: greenyellow;
}

/* footer styling */

#foot-div {
  height: 2rem;
  background-color: #191970;
}

#foot-copy {
  color: #fff;
  padding: 0.5rem 0;
}

#credits:hover {
  color: greenyellow;
}

/* media query for screen width 768px and below */

@media screen and (max-width: 768px) {
  #user-input input {
    width: 300px;
  }
  
  .button {
    width: 300px;
  }
}