/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

/* initial page reset & global settings */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* footer control using css-grid */
html {
  width: 100%;
  height: 100%;
}

body {
    background-color: #000;
    font-family: 'VT323', monospace;
    width: 100%;
    height: 100%;
}

#container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

#main-header {
  margin-top: ;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

#subheader {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

/* body a {
    text-decoration: none;
} */

/* page background video - modified code from https://www.w3schools.com/howto/howto_css_fullscreen_video.asp */

#bkgrd-video {
    z-index: -3;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    /* left: 0; */
    bottom: 0;
    /* max-width: auto; */
    max-height: 100%;
}

/* main page styling */

#start-screen {
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: greenyellow;
}

#user-input input {
  display: block;
  margin: auto;
  width: 40%;
  max-width: 500px;
  text-align: center;
  padding: 0.5rem;
  color: #fff;
}

.button {
  border: 1px solid greenyellow;
  color: #000;
  width: 40%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
  font-size: 16px;
}