/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

/* initial page reset for bkgrd video & global settings */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* consistent footer behaviour controlled using learnt, borrowed and adapted css-grid code from: https://dev.to/niorad/keeping-the-footer-at-the-bottom-with-css-grid-15mf */
html {
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: #000;
  font-family: 'VT323', monospace;
  text-align: center;
  width: 100%;
  height: 100%;
}

#container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

#main-header {
  margin-top: 2rem;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color: #00ffff;
  text-shadow: 0px 0px 20px #fff;
}

#subheader {
  margin: 0.5rem 0 0.5rem;
  font-size: 2rem;
  color: #fff;
}

body a {
  text-decoration: none;
}

/* page background video - modified code from https://w3collective.com/fullscreen-video-background/ */

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

/* main panels styling */

/* main start-panel styling */
#start-panel {
  display: block;
}

#start-screen {
  border: 3px solid #00ffff;
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: #191970;
  color: #fff;
  font-size: 2rem;
}

#start-screen span {
  color: #00ffff;
  text-shadow: 0px 0px 16px #fff;
}

/* main game-panel styling */
#game-panel {
  display: none;
}

#game-screen {
  border: 3px solid #00ffff;
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: #191970;
  color: #fff;
  font-size: 1.5rem;
}

#game-screen img {
  max-width: 100%;
}

/* main score-panel styling */
#score-panel {
  display: none;
}

#score-screen {
  border: 3px solid #00ffff;
  width: 400px;
  height: 400px;
  padding-top: 4rem;
  margin: auto;
  background-color: #191970;
  color: #fff;
  font-size: 2rem;
}

/* main fback-panel styling */
#fback-panel {
  display: none;
}

#fback-screen {
  border: 3px solid #00ffff;
  width: 400px;
  height: 400px;
  padding-top: 0.5rem;
  margin: auto;
  background-color: #191970;
  color: #fff;
  font-size: 1.25rem;
}

/* fback - form and form button styling */

form {
  width: 100%;
  padding-bottom: 15%;
  color: #fff;
}

form input {
  width: 80%;
  padding: 0.3rem;
  margin: 0.5rem;
}

#form-submit {
  background-color: #191970;
  color: #00ffff;
  font-family: 'Press Start 2P', cursive;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
}

#form-submit:hover {
  background-color: #00ffff;
  color: #191970;
}

/* user-input styling */
.user-input input {
  display: block;
  margin: 0.5rem auto 0;
  width: 33%;
  min-width: 300px;
  height: 2rem;
  font-size: 1.25rem;
  text-align: center;
  padding: 1px;
  color: #191970;
}

#mssg-banner {
  font-size: 2rem;
  font-family: 'VT323', monospace;
  display: inline-block;
  color: #fff;
  margin-top: 0.25rem;
  padding: 5px, 30px, 15px;
  background-color: #191970;
  width: 275px;
}

.button {
  border: 3px solid #00ffff;
  border-radius: 5px;
  color: #191970;
  width: 33%;
  height: 2.5rem;
  padding: 1px;
  text-decoration: none;
  display: block;
  margin: 0.5rem auto;
  font-size: 1.75rem;
  font-family: 'VT323', monospace;
}

.start-button:hover,
#submit-answer-button:hover,
#pass-button:hover,
#fback-button:hover {
  background-color: #191970;
  color: #00ffff;
}

/* footer styling */

#foot-div {
  height: 2rem;
  background-color: #191970;
}

#foot-copy {
  color: #fff;
  padding: 0.5rem 0;
}

#credits:hover {
  color: #00ffff;
}

/* modal box for footer/image credits learnt, borrowed and adapted css-grid code from: https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #00ffff;
  width: 40%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #191970;
  text-decoration: none;
  cursor: pointer;
}

/* media query scaling user-inputs for screen width 950px and below */

@media screen and (max-width: 950px) {
  .user-input input {
    width: 300px;
  }

  .button {
    width: 300px;
  }
}

/* media query scaling headers & '*-screen' elements for screen width 550px and below */

@media screen and (max-width: 550px) {
  #main-header {
    margin-top: 1.25rem;
    font-size: 1.9rem;
    text-shadow: 0px 0px 15px #fff;
  }

  #subheader {
    font-size: 1.5rem;
  }

  #start-screen,
  #game-screen,
  #score-screen {
    width: 300px;
    height: 300px;
    font-size: 1.5rem;
  }

  #score-screen {
    padding-top: 2rem;
  }

  #fback-screen {
    width: 300px;
    height: 300px;
    padding-top: 0.25rem;
    font-size: 0.9rem;
  }

  form input {
    padding: 0.2rem;
    margin: 0.3rem;
  }

  #form-submit {
    padding: 0.2rem 1rem;
    font-size: 0.75rem;
    border: 2px solid #fff;
    border-radius: 0.5rem;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #00ffff;
    width: 80%;
    /* Could be more or less, depending on screen size */
  }
}